<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="1 seconds" debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <contextName>cmss</contextName>
    <property name="FILE_OUT" value="%d{yyyy-MM-dd'T'HH:mm:ss:SSS'Z'} [%thread] %logger{36} - %msg%n" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="debugAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 文件名称 -->
            <fileNamePattern>${catalina.base}/logs/cmssDebug.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <!-- 文件最大保存历史数量 -->
            <MaxHistory>50</MaxHistory>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>
                ${FILE_OUT}
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!-- INFO -->
    <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 文件名称 -->
            <fileNamePattern>${catalina.base}/logs/cmssInfo.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <!-- 文件最大保存历史数量 -->
            <MaxHistory>30</MaxHistory>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>
                ${FILE_OUT}
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- ERROR -->
    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 文件名称 -->
            <fileNamePattern>${catalina.base}/logs/cmssError.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <!-- 文件最大保存历史数量 -->
            <MaxHistory>10</MaxHistory>
            <maxFileSize>5MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>
                ${FILE_OUT}
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- info环境. -->
    <springProfile name="info">
        <root level="info">
            <appender-ref ref="console" />
            <appender-ref ref="infoAppender" />
        </root>
    </springProfile>

    <!-- debug环境. -->
    <springProfile name="debugS">
        <root level="debug">
            <appender-ref ref="console" />
            <appender-ref ref="debugAppender" />
        </root>
    </springProfile>

    <!-- error环境. -->
    <springProfile name="error">
        <root level="error">
            <appender-ref ref="console" />
            <appender-ref ref="errorAppender" />
        </root>
    </springProfile>

</configuration>