<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h2>Spring Boot多文件上传示例(使用AJAX)</h2>

<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
    <input type="text" name="extraField"/><br/><br/><button id="addBtn">新增</button>
    <div id="fileBox">
        <input type="file" name="files"/><br/><br/>
    </div>
    <input type="submit" value="提交" id="btnSubmit"/>
</form>

<h1>Ajax提交结果：</h1>
<pre>
    <span id="result"></span>
</pre>

<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>